.title {
    position: absolute;
    margin:  auto;
    padding-top: 7.5vh;
    top: 25.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.title button {
    font-size: 1.3em;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}